.addendum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.addendum button {
  position: relative;
  display: inline-block;
  padding: 0 0 0 30px;
  color: #009edf;
  background-color: transparent;
  border: none;
  font-family: $ff-open-sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24.7px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 19px;
    height: 3px;
    background-color: #bfc3cd;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(180deg);
  }
}
