.column-width-button {
  position: absolute;
  top: 50%;
  left: -7px;
  padding: 0;
  border: none;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    right: -4px;
    top: -10px;
    width: 1px;
    height: 19px;
    background-color: #898a8d;
    box-shadow: 3px 0 0 0 #898a8d, 6px 0 0 0 #898a8d;
    z-index: 2;
  }
}

.column-width-button-div {
  position: absolute;
  width: 14px;
  height: 40px;
  padding: 0;
  border: 1px solid #d4dae5;
  border-radius: 5px;
  background-color: #ffffff;
  transform: translateY(-50%);
  mask: linear-gradient(270deg, #ffffff 50%, transparent 0);
  mask-composite: exclude;
}

