.consultation__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px 15px;
}

.consultation__date {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -15px;
    width: 100%;
    height: 3px;
    background-color: #009ddc;
  }
}

.consultation__date h3 {
  margin: 0;
  color: #565c6c;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.consultation__date span {
  text-transform: uppercase;
  color: #d14747;
}

.consultation__show {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.consultation__show h3 {
  margin: 0;
  color: #565c6c;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.consultation__show ul {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.consultation__link {
  display: flex;
  align-items: center;
  gap: 0 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.consultation form {
  position: relative;
}

.consultation__content {
  position: relative;
  padding: 15px 15px 55px;
  background-color: #f0f1f2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.2) 100%);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.2) 100%);
  }
}

.consultation__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 42px;
  padding: 15px 28px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 51, 116, 0.2);
    z-index: 2;
  }
}

.consultation__submit {
  display: flex;
  gap: 0 30px;
}

.consultation__button {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #11a4de;
  background-color: transparent;
  border: 0;
  font-family: $ff-open-sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.consultation__changes-saved {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  margin-right: 10px;
}

.consultation__changes-saved span {
  margin: 0;
  color: #a7adbb;
  font-family: $ff-open-sans-italic;
  font-size: 12px;
  letter-spacing: 1.4px;
}
