.leftcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftcolumn__header {
  position: relative;
  padding: 13px 15px;
  width: 100%;
  height: 66px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 51, 116, 0.2);
    z-index: 2;
  }
}

.leftcolumn__footer {
  position: relative;
  max-height: 42px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 51, 116, 0.2);
    z-index: 2;
  }
}
