.message-date-group--no-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-date-group--no-started h3 {
  margin: 0;
  color: #565c6c;
  font-size: 13px;
  font-weight: 600;
}

.message-date-group--no-started p {
  margin: 0;
  color: #565c6c;
  font-size: 12px;
  font-weight: 400;
}
