.middlecolumn__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid #dfe3ec;
}

.middlecolumn__header a {
  cursor: pointer;
}
